.languageSelection {
    display: flex;
    flex-direction: row;
    width: 6.667vw;
    margin-right: -4.5vw;
}

.languageSelection__selection {
    width: 4.444vw;
    height: 2.222vw;
    background-color: rgba(0,0,0, .0);
    color: #fff;
    border: none;
}

.languageSelection img {
    width: 2.222vw;
    height: 2.222vw;
    margin-right: 1vw;
}