.container--technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17.708vw;
    height: 15.694vw;
    border-radius: 0.556vw;
}

.container--img {
    height: 20.333vw;
    background-image: url(../img/technology/cloud.svg);
    background-size: 5.556vw 5.556vw;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.container--img h4 {
    font: normal bold 6rem/1 'Lato', sans-serif;
    color: rgba(16, 16, 16, 0.08);
}

.container--technology:nth-child(2) .container--img {
    background-image: url(../img/technology/security.svg);
}

.container--technology:nth-child(3) .container--img {
    background-image: url(../img/technology/pdf.svg);
}

.container--technology:nth-child(4) .container--img {
    background-image: url(../img/technology/csv.svg);
    background-size: 4.7vw 4.7vw;
}


