@charset 'utf-8';



*{
  border: none;
  margin: 0; padding: 0;
  outline: none
}
*[onClick], Button:not(:disabled){ cursor: pointer }
*,
*::before,
*::after{
  box-sizing: border-box;
  /*user-select: none; -khtml-user-select: none; -moz-user-select: none*/
}


Body{
  display: flex; flex-direction: column;
  min-height: 100vh
}
Body > Main{ flex-grow: 1 }


A,
*[onClick]{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition)
}
A:hover{ text-decoration: none }

Button{
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 1rem 2rem
}

Embed,
Img,
Object,
Video{ max-width: 100% }
Img{
 line-height: 0;
 vertical-align: bottom
}

Table{ border-collapse: collapse }

Ul,
Ol{ list-style-position: inside }
Ul Ul,
Ul Ol,
Ol Ul,
Ol Ol{ margin-left: 2rem }
Ul Ul Ul{ list-style-type: disc }
Ul Ul{ list-style-type: circle }
Ul{ list-style-type: square }

H1, H2, H3, H4, H5, H6{
  line-height: 1;
  letter-spacing: 0
}

Input,
Textarea{ line-height: 1 }