@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


:root{
  --transition: all 0.4s ease 0s;
  --color-red: #ED4C5C
}

HTML{
  font-family: 'Lato', sans-serif; font-size: 10px;
  /*hyphens: auto*/
}

Body{ font-size: 1.4em }

Body > Header,
Body > Main,
Body > Footer{
  margin: 0 auto;
  width: 1440px; max-width: 100%
}

Body > Header{ position: /*fixed*/ absolute; top: 1.7rem; right: 0; left: 0 }


Body > Main{ display: flex; flex-direction: column }

Body > Main > Section,
Body > Main > Article{
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  padding-top: 8rem; padding-bottom: 8rem;
  text-align: center
}


Body > Main H2{
  font-size: 3.6rem; font-weight: bold;
  line-height: 4.2rem;
  margin-bottom: 2rem
}

Body > Main H3{
  font-size: 1.8rem;
  line-height: 2.2rem
}

Body > Main P{
  line-height: 1.5;
  margin-bottom: 2rem
}

Body > Main A{
  border-bottom: 1px solid transparent;
  display: inline-block;
  color: var(--color-red);
  padding-bottom: 0.2rem
}
Body > Main A:hover{ border-bottom-color: var(--color-red) }


Input{
  border-radius: 0.4rem;
  padding: 1rem;
  width: 100%
}



.width0{
  margin: 0 auto;
  max-width: 110rem
}

.button{
  border: 1px solid white; border-radius: 0.8rem;
  display: inline-block;
  padding: 1rem 2rem
}



@media all and (max-width: 420px){

}