* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main {
    width: 100%;
    background: #F4F6F9;
    background-image: url(../images/Frame.png);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    height: 32px;
}

.container {
    width: 1440px;
    height: 665px;
    padding: 61px 163px;
}


/* main body */

.main-body {
    
}

.main-body-desc {
    width: 453px;
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.main-body-title {
    margin-top: 140px;
    font-weight: bold;
    font-size: 36px;
    width: 546px;
}

.main-body-button {
    display: inline-block;
    margin-right: 36px;
}


/* banner part */

.banner {
    position: relative;
    height: 592px;
    background-image: url(../images/players.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.banner-left-col {
    width: 805px;
    padding-top: 109px;
}

.banner-right-col {
    width: 407px;
}

.banner::before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    height: 100%;
    width: 805px;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.container-banner {
    padding-left: 163px;
    width: 1440px;
    height: 665px;
}


.banner-blocks {
    width: 466px;
    height: 405px;
    position: relative;   
}

.banner-first-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 360px;
    height: 218px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    
    z-index: 1;
}

.banner-second-block {
    width: 360px;
    height: 218px;
    background-image: url('../images/video.png');
    background-size: contain;
    background-position: center center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner-first-block-time {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
}

.banner-first-block-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 76px;
    margin-bottom: 13px;
}

.banner-first-block-name {
    font-size: 16px;
    line-height: 21px;
}

.banner-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-body-text {
    padding: 27px 15px;
}

.banner-first-block-footer {
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    display: flex;
    align-items: baseline;
}

.banner-footer-txt {
    padding: 13px 15px;
}

.banner-body-logo {
    margin: 46px 14px;
}


.banner-body-logo img:last-child{
    margin-left: -14px;
}