.heart {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.heart:before {
    content: '🤍';    
    font-size: 128px;
    opacity: 0.5;
}
.red.heart:before {
    content: '❤️';    
    font-size: 128px;
    opacity: 1;
}
.red.heart:after {
    content: attr(count);
    color: red;
    text-align: center;    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -45px;
    margin-top: 25px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;    
}