@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.red {
    color: #ED4C5C !important;
}

.bigDiv {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    height: 782px;
    position: relative;
    background-image: url("../images/table-comp.jpg")
}

.head::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 1440px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.sub-head {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1440px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-head > h1 {
    margin-top: 140px;;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}

.sub-head > h2 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 540px;
}

.sub-head > button {
    background-color: white;
    border-radius: 6px;
    color: #ED4C5C;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    margin-top: 45px;
}

.navbar {
    margin-top: 17px;
    padding: 10px 165px 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 7px;
    color: white;
}

.navbar-center {
    padding-left: 25px;
}

.navbar-center ul li {
    list-style-type: none;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: white;
}

.navbar-center ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 445px;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-right button {
    width: 100px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: white;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96px;
}

.lang:first-child {
    margin-right: 20px;
}

.lang p {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.manage {
    height: 500px;
    padding-left: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 260px;
    background-color: #FFFFFF;
}

.manage-right {
    width: 445px;
}

.manage-right h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.manage-right p {
    margin-top: 24px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.manage-right p.red {
    margin-top: 20px;
}

.manage-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manage-left .video {
    width: 445px;
    height: 311px;
}

.manage-left .play {
    width: 66px;
    height: 66px;
    margin-right: -33px;
    z-index: 3;
}

.features {
    height: 660px;
    background-color: #FAFAFA;
}

.features > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    padding: 63px 0 63px
}

.features > .three-pic {
    padding-right: 165px;
    padding-left: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature {
    width: 293px;
    height: 198px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    margin-top: calc(105px - 189px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature > h1 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin: 33px 32px 0;
}

.feature > p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
    margin: 20px 34px 0;
}

.pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-container > img {
    width: 350px;
    height: 250px;
    border-radius: 8px;
}

.techno {
    height: 500px;
    background-color: white;
    padding: 63px 165px 0;
}

.techno > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

.tec-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
}

.tec-item {
    width: 255px;
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tec-item > div {
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tec-item > h1 {
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: -60px
}

.tec-item > h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-top: 15px;
}

.tec-item > p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    width: 195px;
}

.focus {
    height: 500px;
    background-color: #ED4C5C;
    padding-left: 165px;
    display: flex;
    flex-direction: row;
}

.focus-left {
    width: 445px;
    padding-top: 122px;
}

.focus-left > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.focus-left > p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 40px;
}

.download {
    display: flex;
    width: 134px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.back-pic, .main-pic {
    border-radius: 15px;
}

.back-pic {
    opacity: 0.5;
    width: 383px;
    height: 267px;
}

.main-pic {
    width: 445px;
    height: 311px;
    background-image: url("../images/Video_bg_main.jpg");
    z-index: 50;
}

.focus-right {
    margin-left: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-pic {
    background-image: url("../images/Video_bg_left.jpg");
    margin-right: calc(44px - 383px);
}

.right-pic {
    background-image: url("../images/Video_bg_right.jpg");
    margin-left: calc(44px - 383px);
}

.contacts {
    padding-top: 117px;
    padding-left: 176px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.cont-left {
    width: 445px;
    height: 160px;
}

.cont-left > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.cont-left > p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    margin-top: 50px;
}

.cont-right {
    margin-left: 114px;
    display: grid;
    width: 540px;
    height: 305px;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.row-one {
    grid-column: span 2;
}

.cont-right input, .cont-right select {
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}

.cont-right input::placeholder, .cont-right select {
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.5);
}

.cont-right select:after {
    font-family: Segoe MDL2 Assets;
    font-size: 14px;
    line-height: 14px;
    color: rgba(19, 39, 67, 0.5);
    content: '';
}

.cont-right button {
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 160px;
    height: 100%;
}

.footer {
    height: 435px;
    background-color: #FAFAFA;
    padding-top: 85px;
    padding-left: 161px;
    display: grid;
    grid-template-columns: 289px 284px 288px 240px;
    grid-template-rows: 55px 195px 40px;

}

.pay {
    padding-left: 6px;
}

.footer h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.footer p {
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}

.footer ul > li {
    font-size: 12px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    list-style-type: none;
}

.cont>p {
   margin-bottom: 11px;
}

.social{
    width: 66px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




