* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.header {
    width: 1440px;
    height: 782px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("../Вёрстка/background1.png");

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9
}

.background1 {
    position: absolute;
    top: 0;
    left: 0;
}

.icon {
    position: absolute;
    top: 55px;
    left: 165px;
}

.navigation {
    position: absolute;
    top: 58px;
    left: 498px;

}

.logo {
    position: absolute;
    top: 59px;
    left: 201px;
}

.flag {
    position: absolute;
    top: 54px;
    left: 1056px;
}

.EN {
    position: absolute;
    top: 59px;
    left: 1099px;
}

.arrow {
    position: absolute;
    top: 56px;
    left: 1122px;
}

.button {
    position: absolute;
    top: 50px;
    left: 1172px;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;

    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

}

.title {
    position: absolute;
    width: 578px;
    height: 86px;
    left: 431px;
    top: 257px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.usual-text {
    position: absolute;
    width: 540px;
    height: 124px;
    left: 450px;
    top: 382px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    color: #FFFFFF;
}

.sign-up {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 640px;
    top: 545px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-transform: uppercase;
    color: #ED4C5C;
}

.video {
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 876px;

    background: #C4C4C4;
    border-radius: 15px;
}

.main-body {
    height: 500px;
    width: 1440px;
    background: #FFFFFF;
}

.title2 {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 922px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.subtitle {
    position: absolute;
    width: 445px;
    height: 115px;
    left: 165px;
    top: 1053px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;

    color: #000000
}

.link {
    position: absolute;
    width: 71px;
    height: 20px;
    left: 165px;
    top: 1152px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;

    text-align: justify;

    color: #ED4C5C;
}

.play {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 702px;
    top: 999px;
    background: url("../Вёрстка/Ellipse 1.png");
    display: flex;
    align-items: center;
    justify-content: center;

}

.features {
    height: 660px;
    width: 1440px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;

}

.images img {
    margin: 30px;
}

.title3 {
    position: absolute;
    width: 1110px;
    height: 55px;
    margin-top: 63px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;
}

.block1 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 165px;
    top: 1463px;
    border-radius: 8px;
    background: url("../Вёрстка/Bg.png");
}

.banner1 {
    position: absolute;
    width: 293px;
    height: 198px;
    left: 194px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.block2 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 545px;
    top: 1463px;
    border-radius: 8px;
    background: url("../Вёрстка/Bg-1.png");
}

.banner2 {
    position: absolute;
    width: 293px;
    height: 198px;
    left: 574px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.block3 {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 925px;
    top: 1463px;
    border-radius: 8px;
    background: url("../Вёрстка/Bg-2.png");
}

.banner3 {
    position: absolute;
    width: 293px;
    height: 198px;
    left: 954px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.subtitle1 {
    position: absolute;
    width: 229px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 33px;
    text-align: center;
    color: #101010;
}

.subtitle2 {
    position: absolute;
    width: 229px;
    height: 57px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: 93px;

    color: #101010;
}

.sublink {
    position: absolute;
    width: 253px;
    height: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    margin-top: 155px;
    text-align: center;
    text-decoration: none;
    color: #ED4C5C;
}

.technology {
    position: absolute;
    width: 1440px;
    height: 500px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.number1 {
    position: absolute;
    width: 255px;
    height: 226px;
    left: 165px;
    margin-top: 170px;
    background: #FFFFFF;
}

.number2 {
    position: absolute;
    width: 255px;
    height: 226px;
    left: 450px;
    margin-top: 170px;

    background: #FFFFFF;
}

.number3 {
    position: absolute;
    width: 255px;
    height: 226px;
    left: 735px;
    margin-top: 170px;

    background: #FFFFFF;
}

.number4 {
    position: absolute;
    width: 255px;
    height: 226px;
    left: 1020px;
    margin-top: 170px;

    background: #FFFFFF;
}

.num {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    margin-left: 69px;

    text-align: center;

    color: rgba(16, 16, 16, 0.08);
}

.frame1 {

    margin-top: 59px;
    margin-left: 87px;
}

.frame2 {

    margin-top: 65px;
    margin-left: 94px;
}

.frame3 {

    margin-top: 61px;
    margin-left: 93px;
}

.frame4 {

    margin-top: 71px;
    margin-left: 104px;
}

.text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #101010;
}

.subtext {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}

.banner {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 2442px;
    background: #ED4C5C;
}

.title4 {
    position: absolute;
    margin-top: 122px;
    margin-left: 165px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.subtitle4 {
    position: absolute;
    margin-top: 253px;
    margin-left: 165px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}

.photo1 {
    position: absolute;
    left: 735px;
    top: 94px;
    border-radius: 15px;
}

.photo2 {
    position: absolute;
    left: 691px;
    top: 116px;
    opacity: 0.5;
    border-radius: 15px;

}

.photo3 {
    position: absolute;
    left: 841px;
    top: 94px;
    opacity: 0.5;
    border-radius: 15px;

}

.source {
    position: absolute;
    height: 32px;
    left: 163px;
    top: 357px;

}

.source1 {
    left: 0;

}

.source2 {
    margin-left: 23px;
    left: 55px;
}

.source3 {
    margin-left: 23px;
    left: 110px;
    right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.contact {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 2942px;
    background: #FFFFFF;
}

.title5 {
    position: absolute;
    top: 117px;
    left: 176px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.subtitle5 {
    position: absolute;
    top: 213px;
    left: 176px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    text-align: justify;
    color: #000000;
}

.form {
    position: absolute;
    top: 117px;
    left: 735px;
}

.input1 {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 31px;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-right: 30px;
    margin-bottom: 24px;
}

.input2 {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 31px;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-bottom: 24px;
}

.select {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 31px;
    padding-top: 21px;
    padding-bottom: 20px;
    margin-bottom: 24px;
    background: transparent;
    margin-bottom: 27px;


}

.newarrow {

    width: 500px;
    height: 60px;
    overflow: hidden;
    background: url("../Вёрстка/ChevronDown(E70D).png") no-repeat right;
}

.submit {

    width: 160px;
    height: 50px;

    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 435px;
    top: 3487px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;

    text-align: center;

    color: #101010;

    background: #FAFAFA;
}

.Adress {
    position: absolute;
    left: 166px;
    top: 85px;
    font-size: 18px;
}

.Services {
    position: absolute;
    left: 450px;
    top: 85px;
    font-size: 18px;


}

.Get {
    position: absolute;
    left: 734px;
    top: 85px;
    font-size: 18px;
}

.We {
    position: absolute;
    left: 1022px;
    top: 85px;
    font-size: 18px;
}
.subserv{
    position: absolute;
    left: 450px;
    top: 135px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    text-align: left;

    color: #000000;
}
.subadress{
    position: absolute;
    left: 166px;
    top: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.subget{
    position: absolute;
    left: 734px;
    top: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    text-align: left;

}
.phone{
    position: absolute;
    left: 734px;
    top: 165px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #121212;
}
.subwe{
    position: absolute;
    left: 1028px;
    top: 140px;
    margin-bottom: 11px;
}
.f{
    position: absolute;
    left: 738px;
    top: 200px;

}
.in{
    position: absolute;
    left: 761px;
    top: 200px;

}
.tw{
    position: absolute;
    left: 786px;
    top: 200px;

}
.Copy{
    position: absolute;
    left: 161px;
    top: 335px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}