/* reset */

* {
    margin: 0;
    padding: 0;
}/* body */
body {
    font-family: "Lato", sans-serif;
}

/* main container */
.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header {
    height: 782px;
    background-image: url("../images/header_bg.png");
}

.navbar_buttons {
    width: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 100px;
    position: relative;
    top: 17px;
    width: 1107px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_logo {
    width: 172px;
    height: 29px;
}

.main_menu {
    width: 445px;
    display: flex;
    justify-content: space-between;
}

.main_menu a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
}

.main_menu a.act{
    font-weight: bold;
    font-size: 13px;
}

.lang_selector {
    width: 96px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang_flag {
    width: 32px;
    height: 32px;
}

.lang_text {
    color: white;
    font-size: 14px;
}

.lang_arrow {
    width: 30px;
    height: 30px;
}

.top_login_button {
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header_banner {
    width: 578px;
    height: 338px;
    position: relative;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_h1 {
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    width: 578px;
    height: 86px;
}

.banner_text {
    position: relative;
    top: 39px;
    width: 540px;
    height: 124px;
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
}

.banner_button {
    position: relative;
    top: 68px;
    width: 160px;
    height: 50px;
}

.top_banner_button {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    color: #ED4C5C;
    font-size: 14px;
    text-transform: uppercase;
}

/* video */

.video_block {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_text {
    width: 445px;
    height: 250px;
    margin-right: 92px;
}

.video_text h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 24px;
}

.video_text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.video_text a {
    font-size: 14px;
    line-height: 20px;
    color: #ED4C5C;
    text-decoration: none;
}

.video_text a:hover {
    text-decoration: underline;
}


.video_frame {
    width: 478px;
    height: 311px;
    background: url("../images/video_bg.png");
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

/* features */

.features_block {
    height: 660px;
    background: #FAFAFA;
}

.features_block h1 {
    font-size: 36px;
    line-height: 43px;
    position: relative;
    top: 63px;
    text-align: center;
}

.features {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 121px;
}

.features_item {
    width: 350px;
    height: 355px;
}

.features_item_1 {
    background: url("../images/feature_card_1.png");
    background-repeat: no-repeat;
    background-position: top;
}

.features_item_2 {
    background: url("../images/feature_card_2.png");
    background-repeat: no-repeat;
    background-position: top;
}

.features_item_3 {
    background: url("../images/feature_card_3.png");
    background-repeat: no-repeat;
    background-position: top;
}

.item_card {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 157px;
    margin-left: auto;
    margin-right: auto;
}

.item_card h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    top: 33px;
}

.item_card p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 60px;
}

.item_card a {
    color: #ED4C5C;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: relative;
    display: block;
    top: 73px;
    text-decoration: none;
}

.item_card a:hover {
    text-decoration: underline;
}

/* technology */

.tech_block {
    height: 500px;
}

.tech_block h1 {
    text-align: center;
    position: relative;
    top: 63px;
}

.technology {
    width: 1110px;
    height: 226px;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.tech_item {
    width: 255px;
    height: 226px;
    text-align: center;
}

.tech_item img {
    position: relative;
    top: 59px;
}

.tech_item h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    top:55px;
}

.tech_item p {
    font-size: 12px;
    line-height: 14px;
    position: relative;
    top:65px;
}



.tech_item_1 {
    background: url("../images/tech_01.png") no-repeat;
    background-position: top center;
}

.tech_item_2 {
    background: url("../images/tech_02.png") no-repeat;
    background-position: top center;
}

.tech_item_3 {
    background: url("../images/tech_03.png") no-repeat;
    background-position: top center;
}

.tech_item_4 {
    background: url("../images/tech_04.png") no-repeat;
    background-position: top center;
}

/* footer */

.main_footer {
    height: 435px;
    background: #FAFAFA;
}

.footer_colums {
    width: 1083px;
    position: relative;
    top: 85px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.footer_column {
    width: 259px;
    height: 264px;
    color: #101010;
    line-height: 19px;
}

.footer_column a {
    color: #101010;
    text-decoration: none;
}

.footer_column a:hover {
    text-decoration: underline;
}

.footer_column h3 {
    font-size: 18px;
    margin-bottom: 33px;
}

.footer_column p {
    font-size: 12px;
}

.footer_copy {
    margin-top: 141px;
}

.footer_social {
    width: 66px;
    height: 14px;
    margin-top: 20px;
}
