.task{
  cursor: pointer;    
  display: flex; justify-content: space-between;
  padding: 10px;
  transition: var(--transition)
}
.task:not(:last-of-type){ border-bottom: 1px solid rgba(0, 0, 0, 0.08) }
.task:hover{ border-bottom-color: rgba(0, 0, 0, 0.2) }

.task > Div:first-child{ flex-grow: 1 }
.task.done > Div:first-child{
  color: rgb(160, 160, 160);
  text-decoration: line-through
}