.task{
  cursor: pointer;    
  display: flex; justify-content: space-between;
  padding: 10px;
  transition: var(--transition)
}
.task:not(:last-of-type){ border-bottom: 1px solid rgba(0, 0, 0, 0.08) }
.task:hover{ border-bottom-color: rgba(0, 0, 0, 0.2) }

.task.done{ background: linear-gradient(to bottom right, rgba(0, 160, 0, 0.16), rgba(0, 160, 0, 0.02)) }