body{font-family: lato;
margin: 0%;}

h1, h2, h3, h4, h5, h6{
	margin: 0%;
}

.header{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1000%;
	width: 100%;
}

.container{width: 100%;
	max-width: 1100px;}

.header_inner{
	margin-top: 60.8PX;	
	margin-left: 166.45px;
	margin-right: 201px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header_logo1{
letter-spacing: 5px;}

.nav{
	font-family: Lato;
	font-style: normal;
	/*font-weight: bold;*/
	font-size: 14px;
	line-height: 17px;
	align-items: center;}

.nav_links{
	text-decoration: none;
	color: #ffff;
	margin-left: 20px;
}

.nav_links:hover {
	text-decoration: underline;
}

.sing{font-family: lato;
	color: #ffff;
	margin-left: 29px;
	margin-right: 29px;
	margin-top: 11px;
	margin-bottom: 12px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
/* identical to box height */

align-items: center;
text-align: center;
}

.border_sing{border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;}

.intro__img {height: 782px;
	background-image: 
	url(../image/Bg.png);
	/*display: flex;
	flex-direction: column;*/
}

.intro__title {
padding-top: 257px;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
}

	
.intro__title2{
text-align: center;
color: #FFFFFF;
padding-top: 30px;
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
}

.button_sign{
	display: inline-block;
	border: 2px solid #FFFFFF;
	color:#ED4C5C;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: 6px;
	padding: 17px 52px;
	margin-top: 35px;
	margin-left: 600px;
	margin-right: 200px;
	background: white;
} 

.intro2 {
	height: 500px;
	background: #FFFFFF;
	width: 100%;
}

.img__intro2 {	
	/*grid-template-columns: 114px 311px;
	grid-template-rows: 445px 445px;
	grid-auto-flow: row;*/
	display: flex;
	justify-content: space-between;

}

.text__intro1{
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	padding-bottom: 24px;
	margin-top: 140px;
	margin-left: 165px;
	
	
}

.text__intro2 {
	color: #000000;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	margin-left: 165px;
}

.link1 {color:#ED4C5C;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	text-decoration: none;
	margin-left: 165px;
}

.link1:hover {
	text-decoration: underline;
}

.img_text_intro2 {
	margin-top: 95px;

}

.intro3 {color: #FFFFFF;
	height: 660px;
	background: #FAFAFA;

}

.title_intro3 {
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
color: black;
padding-top: 63px;
}

.img__intro3 {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.img__intro31{
	margin-left: 165px;
	padding-right: 30px;
	

}

.img__intro31_img {
	position: relative;
}

.img__intro31_text{
	background: white;
	border-radius: 8px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	z-index: 1000%;
	width: 293px;
	height: 198px;
	text-align: center;
	padding-top: -20px;
	display: block;
	align-items: center;
	justify-content: start;
	padding-top: 33px;
	padding-bottom: -100px;
	position: absolute;
	top: 70%;
	left: 7%;
}

.text_int311 {
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #101010;
position: relative;
}

.text_int312{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
padding-top: 20px;
padding-bottom: 35px;
/* or 18px */

text-align: center;
color: black;
}

.button_intro31 {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 150%;
	/* identical to box height, or 18px */
	text-align: center;
	color: #ED4C5C;
	width: 253px;
	height: 18px;
}

.img__intro32_img{
	position: relative;
}

.img__intro32_text {
background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
border-radius: 8px;
z-index: 1000%;
width: 293px;
height: 198px;
position: absolute;
top: 70%;
left: 7%;
text-align: center;
padding-top: 33px;
padding-bottom: -100px;
}

.text_int321{
	font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #101010;

}
.text_int322{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
/* or 18px */
padding-top: 20px;
padding-bottom: 35px;

text-align: center;

color: #101010;

}
.img__intro33 {
	margin-right: 165px;
	padding-left: 30px;
}

.img__intro33_img{
	position: relative;
}

.img__intro33_text{
	background: white;
	border-radius: 8px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	z-index: 1000%;
	width: 293px;
	height: 198px;
	text-align: center;
	padding-top: -20px;
	display: block;
	align-items: center;
	justify-content: start;
	padding-top: 33px;
	padding-bottom: -100px;
	position: absolute;
	top: 70%;
	left: 7%;
}

.text_int331 {
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #101010;
}
.text_int332 {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
text-align: center;
color: #101010;
padding-top: 20px;
padding-bottom: 35px;
text-align: center;
color: #101010;
}