.button {
    border: 0.139vw solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 0.417vw;
    font: normal 0.9rem/1.1  'Lato', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}