.button--video {
    position: relative;
    top: 14vw;
    right: 2.5vw;
    z-index: 99;
    width: 5vw;
    height: 5vw;
    background-color: #ED4C5C;
    border: 1px solid #ED4C5C;
    border-radius: 50%;
    background-image: url(../img/trg.svg);
    background-size: 1.250vw;
    background-repeat: no-repeat;
    background-position: center;
}