.toDoList{
  border: 1px solid rgba(0, 0, 0, 0.08); border-radius: 10px;
  overflow: hidden
}

.toDoList H1{
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
  font-size: 0.8em; font-weight: normal;
  padding: 10px;
  text-transform: uppercase
}