.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heart {
  position: relative;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 150px;
  opacity: 60%;
}

.heart[data-show='true'] {
  opacity: 100% !important;
}


.likes-count {
  color: white;
  position: absolute;
  font-size: 50px;
  top:45px;
}

.likes-count[data-show='false'] {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 80px;
  height: 32px;
  font-size: 16px;
}