.footer-contacts {
  width: 260px;
}

.footer-contacts__email {
  @include zero;

  margin-bottom: 5px;
}

.footer-contacts__tel {
  color: #000000;
}

.footer-contacts__list {
  @include list;

  display: flex;
  padding: 17px 0;
}

.footer-contacts__item:not(:last-child) {
  margin-right: 12px;
}
