.language-toggle {
  position: relative;

  padding: 9px 10px 11px 39px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -3px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 14px;

    width: 13px;
    height: 7px;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #ffffff;
  }
}

.language-toggle__select {
  position: relative;
  z-index: 2;

  padding-right: 23px;
  
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;
  border: none;
}

.language-toggle__select-option {
  color: #000000;
}
