.language-toggle {
  position: relative;

  padding: 11px 40px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -3px;

    width: 32px;
    height: 32px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 14px;

    width: 13px;
    height: 7px;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #ffffff;
  }
}
