.slider {
  @include list;

  display: flex;
}

.slider__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
  }
}

.slider__item--1 {
  &::before {
    top: 22px;
    left: 231px;

    width: 383px;
    height: 267px;

    background-image: url("../img/slider-1@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
    border-radius: 15px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/slider-1@2x.jpg.jpg");
      background-size: 383px auto;
    }
  }
}

.slider__item--2 {
  &::before {
    top: 22px;
    left: 81px;
    z-index: 2;

    width: 383px;
    height: 267px;

    background-image: url("../img/slider-2@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
    border-radius: 15px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/slider-2@2x.jpg.jpg");
      background-size: 383px auto;
    }
  }
}

.slider__item--3 {
  &::before {
    top: 0;
    left: 125px;
    z-index: 2;

    width: 445px;
    height: 311px;

    border-radius: 15px;
    background-image: url("../img/slider-3@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/slider-3@2x.jpg.jpg");
      background-size: 445px auto;
    }
  }
}
