.downloadApp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.292vw;
    width: 9.306vw;
}

.downloadApp__link a {
    display: flex;
    height: 2.222vw;
    width: 2.222vw;
}

.downloadApp__link:first-child {
    background-image: url(../img/downloadApp/playstore.svg);
    background-repeat: no-repeat;
    background-size: 2.222vw 2.222vw;
}

.downloadApp__link:nth-child(2) {
    background-image: url(../img/downloadApp/appstore.svg);
    background-repeat: no-repeat;
    background-size: 2.222vw 2.222vw;
}

.downloadApp__link:nth-child(3){
    background-image: url(../img/downloadApp/windows.svg);
    background-repeat: no-repeat;
    background-size: 2.222vw 2.222vw;
}